.start-screen {
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-screen-wrapper {
  padding: 20px;
  border: 5px solid black;
  text-align: center;
  margin: 0 15px;
}

.start-screen h1 {
  margin: 0 0 20px;
  color: #444;
}

.start-screen p {
  margin: 0 0 20px;
  font-size: 24px;
  color: #444;
}

.start-screen-btn {
  min-width: 150px;
}
