*,
*::before,
&::after {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  overflow: hidden;
  margin: 0;
}

.page-wrapper {
  transition: all 1s ease-out;
  will-change: transform;
}

.full-screen {
  width: 100vw;
  height: 100vh;
}

button {
  font-size: 30px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.1s linear, transform 0.1s linear;
  color: #666;
  border: none;
  border-radius: 40px;
}

button:hover {
  background: #ddd;
  transform: scale(1.03);
}
